extends ./layout
block css
  link(href="index.css", rel='stylesheet')

block content
  .container
      div.loginHolder  
        form
          .form-group
            label(for='username') Username
            br
            input#username(type='text', placeholder='Username')      
            br
          .form-group 
            label(for='password') Password
            br
            input#password(type='password', placeholder='Password')
            br
        
          .form-group 
            label(for='password') Confirm Password
            br
            input#password2(type='password', placeholder='Password')
            br
            button.btn.btn-default#Register Register

block js
  script(src='js/register.js')
